<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URls Edit</title>
</head>
<body>
  <div class="card-header"><h1>Edit</h1></div>
  <div class="card-body">
    <form action="/urls/<%= shortURL %>/edit" method="post">
      <label for="editURL">Edit URL: </label>
      <input type="text" name="longURL">
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>